/* Font */
@font-face {
    font-family: Arctic;
    src: url('Arctic.otf')format("opentype");
}

@font-face {
    font-family: Anders;
    src: url('Anders.ttf')format("opentype");

}



/* Zakladni nastaveni, typografie ... */
body {
    padding: 0px;
    margin: 0px auto;
    left: 0px;
    right: 0px;
    font-size: 20px;
    text-align: center;
    font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, Arctic, Anders, sans-serif   ;
    line-height: 2;
    background: #000000 url('images/700_FO79491169_185704c58cd945ce7bf4296bdaeb3c3e.jpg') ;
    border: 1px dotted antiquewhite;
    border-radius: 20px;




}
 /*obsah*/
.obsah{
    border-radius: 20px;
    margin:auto;
    padding: 0px;
    background: rgba(255,204,184,0.8);
    border: 2px solid forestgreen;
    height: 600px;
    width: 25%;
    alignment: center;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 50px;




}

/*elementy*/
h1 {
    font-size: 60px;
    padding: 5px;
    text-align: center;
    color: forestgreen;
    font-family: Anders, sans-serif;

}
.vyrok{
    font-family: Arctic;
    color: forestgreen;

}

.obrazok{
    border-radius: 20px;
    border: 2px solid forestgreen;
    margin-top: 2.5%;
    width: 95%;
    height: auto;
    overflow: hidden;
    object-fit: cover;

}



/*footer*/
.footer{
    padding-bottom: 10px;
    position: fixed;
    height:25px;
    bottom:0;
    text-align: center;
    color: forestgreen;
    font-size: inherit;
    background: rgba(255,204,184,0.4);
    width: 100%;
    
}

