<!DOCTYPE html>
<html lang="cs" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styles.css"/>

    <title>Ukol 02</title>
</head>
<body>

    <header class="header">
        <h1>Meme Generator</h1>
    </header>
        
    <figure class="obsah">
        
        <img class ="obrazok" th:src="${'images/image' + obrazek1 + '.JPG'}"/>
        <figcaption class="vyrok" th:text="${vyrok1}">Vtipny vyrok</figcaption>

    </figure>

    <figure class="obsah">

        <img class ="obrazok" th:src="${'images/image' + obrazek2 + '.JPG'}"/>
        <figcaption class="vyrok" th:text="${vyrok2}">Vtipny vyrok</figcaption>

    </figure>

    <footer class="footer">
        ⓒ 2018
    </footer>

</body>
</html>
